### **Basic Python Program**

**Q11. Write a Program to extract each digit from an integer in the reverse order. For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.**

**Q12. Calculate income tax for the given income by adhering to the rules below.**

**Taxable Income** ---------------------- **Rate (in%)**
- First $10,000 --------------------- 0
- Next $10,000 ---------------------- 10
- Remaining ------------------------- 20

For example, suppose the taxable income is 45000, and the income tax payable is
10000*0% + 10000*10%  + 25000*20% = $6000.

**Q13. Print multiplication table from 1 to 10**
```bash
Output:
1  2 3 4 5 6 7 8 9 10	
2  4 6 8 10 12 14 16 18 20		
3  6 9 12 15 18 21 24 27 30
```

**Q14. Print a downward Half-Pyramid Pattern of Star.**
```bash
* * * * *  
* * * *  
* * *  
* *  
*
```

**Q 15. Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.**
```bash
base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 * 5 * 5 * 5 = 625)
```